body {
  margin: 0px;
  height: 4000px;
}

@font-face {
  font-family: 'NK57fontBold';
  src: url(../Blaze-Browser/NK57fontBold.ttf);
}

#topTitleBar {
  height: 150px;
  width: 100%;
  background-color: #FF9800;
  border-bottom: solid 10px #F57C00;
  margin: 0px;
  font-family: 'Slabo 27px', serif;
  position: fixed;
}

#topLogo {
  height: 150px;
  width: 150px;
  float: left;
}

#topTitle {
  font-size: 60;
  float: left;
  margin-top: 50px;
  color: #E65100;
  text-shadow: 0px 3px #EF6C00;
}
